{% load staticfiles %}
<!DOCTYPE html>
 <html class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Shelby Jaelle's Christening and 1st Birthday</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Shelby Jaelle Christening and Birthday" />

	<link rel="icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/7/73/STC_line_1_icon.png">


	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
	
	<link href="https://fonts.googleapis.com/css?family=Sigmar+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>


	</head>
	<body>
		
	
	<div id="page">


    <div id="fh5co-couple-story" style=" margin-top: 0; height: 80vh;">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center fh5co-heading animate-box">
					<!-- <span>Shelby Jaelle's</span> -->
					<h2>Attendees</h2>
				</div>
			</div>
			<div class="row animate-box">
				
				<div class="col-md-10 col-md-offset-1">
					{% for attendee in object_list %}
						<div class="col-md-4 col-sm-4">
							<ul class="timeline" style="padding:0;">
								<li>
									<h5 class="text-uppercase attendees" style="color:#828282;">{{ attendee.name }}</h5>
								</li>
							</ul>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-4 col-sm-4" style="padding:0;">
                <img class="animate-box" src="{% static 'img/o.jpg'%}" width="100%">
            </div>
            <div class="col-md-4 col-sm-4" style="padding:0;">
                <img class="animate-box" src="{% static 'img/n.jpg'%}" width="100%">
            </div>
            <div class="col-md-4 col-sm-4" style="padding:0;">
                <img class="animate-box" src="{% static 'img/e.jpg'%}" width="100%">
            </div>
        </div>
    </div>
	
	



	




	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block"><strong><a href="{% url 'portal:dashboard' %}">Project Shelby</a></strong> &copy; 2019 All Rights Reserved.</small> 
					</p>
					
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.countTo.js' %}"></script>
	<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/magnific-popup-options.js' %}"></script>

	<script src="{% static 'js/simplyCountdown.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

	
	<script>
        var timer = setTimeout(function() {
            window.location= "{% url 'portal:dashboard'%}"
        }, 8000);
    </script>
	</body>
</html>

